@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --grey_1: #f3f3f3;
  --grey_2: #e8e8e8;
  --green: #14b890;
  --black: #2c3030;
  --white: #ffffff;
  --red: #f44336;
  --grey_text: #9a9c9c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", serif;
  background-color: var(--grey_1);
}

.btn {
  border-radius: 8px;
  background-color: var(--green);
  border: none;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}
